.Book{
    border: 1px solid;
    width: 300px;
    margin: 10px auto;
    padding:10px;
    border-radius: 5px ;
}

.header{
    border: 1px solid;
    background-color: black;
    color:white;
    border-radius: 5px auto;
}